<%= form_for @store, html: {id: "store-form", class: "form-horizontal"} do |f| %>
  <fieldset>
    <legend><%= Store.model_name.human %></legend>
    <div class="form-group row">
      <label class="col-2 col-form-label">
        <%= Store.human_attribute_name("name") %>
      </label>
      <div class="col-10">
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">
        <%= Store.human_attribute_name("open_time") %>
      </label>
      <div class="col-10">
        <%= f.text_field :open_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">
        <%= Store.human_attribute_name("close_time") %>
      </label>
      <div class="col-10">
        <%= f.text_field :close_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">
        <%= Store.human_attribute_name("address") %>
      </label>
      <div class="col-10">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= StoreImage.model_name.human %></legend>
    <div id="store-image-form" class="dropzone" data-url="<%= store_images_path %>">
      <%= file_field_tag "image", multiple: true %>
    </div>
  </fieldset>

  <div class="form-group text-right m-top-lg">
    <button type='submit' class="btn btn-primary"><%= t("btn.submit") %></button>
    <%= link_to t("btn.cancel"), stores_path, class: "btn btn-danger" %>
  </div>
<% end %>
<% content_for :javascript do %>
<script type="text/javascript">
  var storeImages = <%= @store.store_images.to_json(only: [:id, :display_order], methods: [:image_url]).html_safe %>
  $("#store-image-form").imageUploader({
    formName: "store",
    formAttribute: "[store_images_attributes][]",
    images: storeImages
  });
</script>
<% end %>
