<% content_for :page_title do %>
<h1><%= @store.name %></h1>
<% end %>

<h3><%= Menu.model_name.human %></h3>
<table class="table table-striped"> 
	<thead>
		<tr>
			<th><%= Menu.human_attribute_name :name %></th>
			<th><%= Menu.human_attribute_name :price %></th>
			<th><%= Menu.human_attribute_name :discounted_price %></th>
			<th><%= t('label.edit') %></th>
		</tr>
	</thead>
	<tbody>
		<% @menus.each do |m| %>
			<tr>
				<td>
					<span class="m-right-md"><%= m.name %></span>
					<% if image = m.menu_images.by_display_order.first %>
						<img src="<%= image.image %>" class="menu_thumbnail">
					<% end %>
				</td>
				<td><%= m.price %></td>
				<td><%= m.discounted_price %></td>
				<td>
					<%= link_to edit_store_menu_path(m) do %>
						<i class="fa fa-edit"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3><%= Happyhour.model_name.human %></h3>
<table id="happyour-table" class="table table-striped" data-store-id="<%= @store.id %>">
	<colgroup>
		<col width="250px">
		<col>
		<col width="80px">
	</colgroup>
	<thead>
		<tr>
			<th><%= Happyhour.human_attribute_name :day_of_week %></th>
			<th><%= Happyhour.model_name.human %></th>
			<th><%= t("label.edit") %></th>
		</tr>
	</thead>
	<tbody>
		<% t("date.day_names").each.with_index do |name, i| %>
			<tr data-day-of-week="<%= i %>">
				<td>
					<%= name  %>
					<button type="button" class="set-holiday btn btn-primary btn-sm m-left-sm"><%= t(".set_to_holiday") %></button>		
				</td>
				<td class="td-form">
					<div class="content">
						<%= render partial: '/admin/happyhours/td', locals: {happyhours: @happyhours[i]} %>
					</div>
					<div class="form">
					</div>
				</td>
				<td>
					<a href="#" class="edit-happyour"><i class='fa fa-edit'></i></a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% content_for :javascript do %>
	<script type="text/javascript">
		$("#happyour-table").happyourForm();
	</script>
<% end %>