<% content_for :page_title do %>
<h1><%= t(".title") %></h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:loginid) %></th>
      <th><%= User.human_attribute_name(:social_type) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.loginid %></td>
      <td><%= u.translate(:social_type) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% paginate @users %>
