<!DOCTYPE html>
<html>
  <head>
    <title>Happyour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  	<%= render 'navbar' %>
  	<div class="container-fluid">
      <div class="row">
        <%= render 'sidebar' %>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        	<%= yield :page_title %>
          <%= yield %>
        </main>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
